<link rel="stylesheet" href="css/create_new.css">
<div class="container mt-5">
    <form post="database/blog" method="post">
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="Title" class="form-control" name="inputTitle" placeholder="Title">
            </div>
        </div><br>
        <div class="form-group row">
            <label for="inputsubject" class="col-sm-2 col-form-label">Subject</label>
            <div class="col-sm-10">
                <input type="subject" class="form-control" name="inputsubject" placeholder="subject">
            </div>
        </div><br>
    
        <div class="mb-3">
            <label for="blog-content" class="form-label">Content</label>
            <textarea class="form-control" name="blog-content" rows="3"></textarea>
            <script>
                CKEDITOR.replace('blog-content',{
                    plugin:'wysiwygarea, toolbar, basicstyles, link'
                })
            </script>
        </div>
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">View as</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>Choose...</option>
            <option value="1">Public</option>
            <option value="2">Private</option>
        </select><br><br>
        <hr>
        <center>
        <div id="interests" class="flexb" onclick="selectInterest(event)">
            <div>Brands</div>
            <div>C</div>
            <div>C++</div>
            <div>Countries</div>
            <div>Entertainment</div>
            <div>Flutter</div>
            <div>Government</div>
            <div>Movies</div>
            <div>Law</div>
            <div>Locations</div>
            <div>Lifestyle</div>
            <div>Medicine</div>
            <div>Memes</div>
            <div>Music</div>
            <div>Politics</div>
            <div>Social services</div>
            <div>Sports</div>
            <div>Technology</div>
            <div>Travel</div>
            <div>World News</div>
        </div>
        </center>
        <hr>
        <input type="submit" class="btn btn-outline-success" value="Publish" name="publish-btn">
    </form>
</div>