<title>Login Page</title>
<link rel="stylesheet" href="../css/loginstyle.css" />
<div class="center">
  <h1>Blog Website</h1>
  <h3>Sign In</h3>
  {{#if Invalid}}
    <div class="err-message btn btn-outline-danger" aria-disabled="true">Invalid
      Email or Password</div>
  {{else if sessionTimeOut}}
    <div class="err-message btn btn-outline-danger" aria-disabled="true">Session
      Timeout</div>
  {{else if createdUser}}
    <div class="message btn btn-outline-success" aria-disabled="true">Created
      user</div>
  {{/if}}
  <form action="/database/sign_in" method="post">
    <div class="txt_field">
      <input type="email" name="email_id" id="email_id" required />
      <span></span>
      <label>Email id</label>
    </div>
    <div class="txt_field">
      <input type="password" name="password" id="password" required />
      <span></span>
      <label>Password</label>
    </div>
    <div>
      <button id="submit-btn">Sign In</button>
    </div>
  </form>
  <div class="SignUp_link">
    Not a member?
    <a href="/sign_up">Signup</a>
  </div>
</div>