<title>Blog main page</title>
<section class="container">
    <div class="display-2 mt-4"><h2>Blogs I Wrote</h2></div>
    <div class="row row-cols-3 ml-1">
        {{#if emtBlogsList}}
            <div class="container w-100 border border-info text-center" style="padding: 15%;">
                <h4>No Blogs Written!</h4>
                <h3 class="help-block">Click the profile picture and select 'create blog' option to create a new blog</h3>
            </div>
        {{else}}
            {{#each blogsList}}
            <div class="col-lg-4 card m-1" style="width: 32%;">
                <div class="card-body min-vw-50">
                    <h5 class="card-title" id="blogTitle">{{this.title}}</h5>
                    <p class="card-text">{{this.subject}}</p>
                    <a onclick="window.location.href='/blog/{{this.blog_id}}'" class="btn btn-primary">Read Blog</a>
                </div>
            </div>
            {{/each}}
        {{/if}}
    </div>
</section>