.db {
  margin-left: 100px;
  margin-bottom: 30px;
}
.gb {
  margin-left: 180px;
  margin-bottom: 30px;
}
h1 {
  padding-top: 50px;
  text-align: center;
}
h2 {
  text-align: center;
}
body {
  background-color: whitesmoke;
}
.button {
  background-color: #1f2833;
  color: #66fcf1;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #1f2833;
  font-weight: lighter;
}
.userdetl {
  width: 80%;
}
.clibut {
  width: 20%;
  margin: 10px auto;
}
.flexb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: whitesmoke;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

#signupgender {
  margin-right: 23px;
}

input {
  border-radius: 10px;
  padding: 3px 5px;
}
